<div class="col-md-10 mx-auto" style="margin-top: 2%">
  <div class="row">
    <div style="float: left">
      <h5 class="servers-header">{{ title }}</h5>
      <p>Number of elements: {{ rowNumber }}</p>
      <!-- {{ tableDataSrc.filteredData.length }} -->
    </div>

    <div class="server-search-div">
      <div class="form-group search-box col-12" style="padding-right: 0;">
        <span class="fa fa-search form-control-feedback bg-transparent"></span>
        <input type="text" class="form-control py-2 rounded-pill mr-1 pr-5 bg-transparent" placeholder="Search"
          (keyup)="search($event.target.value)">
      </div>
    </div>
  </div>
</div>