/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    background-color: #F2F3F6 !important;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}