  table {
    width: 100%;
  }

  mat-header-cell, mat-cell {
    font-size: 11px;
  }

  mat-form-field {
    width: 80% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .search-box .form-control {
    padding-left: 2.375rem;
  }

  .search-box .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ACB2C4;
  }

  input:focus{
    outline: none;
    box-shadow: none;
    // border: 1px solid #ccc;
  }

  ::placeholder {
    color: #ACB2C4;
    font-size: 14px;
  }

  .servers-header {
    margin-bottom: 0; 
    color: #474D61; 
    font-weight: 550;
  }

  .server-search-div {
    float: right; 
    margin-left: auto;
  }

  ::ng-deep button.mat-menu-item {
    height: 100%;
  }

  ::ng-deep div.mat-menu-panel {
      overflow: auto;
      min-height: 30px;
  }

  .mat-icon-button {
      position: absolute; 
      right: 2%; 
      outline: none;
  }

  .mat-icon-button:focus, .mat-icon-button:active {
      outline: none !important;
  }