<div *ngIf="details">
  <app-details-display [rowData]="object" [title]="title" (displayChange)='displayDetails($event)'>
  </app-details-display>
</div>

<app-input-search [title]="title" [rowNumber]="rowNumber" (stringValue)='applyFilter($event)'></app-input-search>

<div class="row mb-5">
  <div class="col-md-10 mx-auto">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tableDataSrc" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let col of tableCols">
          <ng-container matColumnDef="{{ col }}">
            <th mat-header-cell *matHeaderCellDef>
              {{ col | titlecase }}
            </th>
            <td mat-cell *matCellDef="let profile">
              <div *ngIf="col !== 'options'">
                <div *ngIf="editable && profile.id === id">
                  <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput type="text" [(ngModel)]="profile[col]">
                  </mat-form-field>
                </div>

                <span *ngIf="editable && profile.id !== id">{{ profile[col] }}</span>
                <span *ngIf="!editable">{{ profile[col] }}</span>
              </div>

              <div *ngIf="col === 'options'">
                <div *ngIf="editable && profile.id !== id">
                  <app-mat-menu-button [rowId]="id" (valueChange)='displayCounter($event)'
                    (displayChange)='displayDetails($event)'></app-mat-menu-button>
                </div>
                <div *ngIf="editable && profile.id === id">
                  <app-details-data [rowData]="object" [title]="title" (valueChange)='displayCounter($event)'>
                  </app-details-data>
                </div>
                <div *ngIf="!editable">
                  <app-mat-menu-button [rowId]="id" [title]="title" (valueChange)='displayCounter($event)'
                    (displayChange)='displayDetails($event)'></app-mat-menu-button>
                </div>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
        <tr mat-row *matRowDef="let row; columns: tableCols" (click)="rowId(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>