<div class="col-md-10 mx-auto" style="margin-top: 2%">
  <div class="row">
    <div style="float: left">
      <h5 class="servers-header">{{ title }}</h5>
      <p>Number of elements: {{ tableDataSrc.filteredData.length }}</p>
    </div>

    <div class="server-search-div">
      <div class="form-group search-box col-12" style="padding-right: 0;">
        <span class="fa fa-search form-control-feedback bg-transparent"></span>
        <input type="text" class="form-control py-2 rounded-pill mr-1 pr-5 bg-transparent" placeholder="Search"
          (keyup)="applyFilter($event.target.value)">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tableDataSrc" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let col of tableCols">
          <ng-container matColumnDef="{{ col }}">
            <th mat-header-cell *matHeaderCellDef>
              {{ col | titlecase }}
            </th>
            <td mat-cell *matCellDef="let profile">
              <span *ngIf="col !== 'options'">{{ profile[col] }}</span>
              <div *ngIf="col === 'options'"><app-mat-menu-button></app-mat-menu-button></div>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
        <tr mat-row *matRowDef="let row; columns: tableCols"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>