
<div class="row">
  <div class="col-md-5">
    <div class="mat-elevation-z8">

      <input matInput (keyup)="onSearchInput($event)" placeholder="Search for a name/role/skill(s)...">

      <table mat-table [dataSource]="tableDataSrc" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let col of tableCols">
          <ng-container matColumnDef="{{ col }}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ col | titlecase }}
            </th>
            <td mat-cell *matCellDef="let profile">{{ profile[col] }}</td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
        <tr mat-row *matRowDef="let row; columns: tableCols"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[1, 2, 3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>