<mat-card-title>
  {{ removeLastChar(title) }} details
  <mat-icon class="title-icon" [inline]="true">directions_car</mat-icon>
</mat-card-title>
<hr>
<div mat-dialog-content *ngIf="displayDealers()">
  <mat-card-subtitle class="location-content">
    <mat-icon class="location-icon" [inline]="true">location_on</mat-icon>
    <span>{{ element.address }}</span><br>
    <span><strong>Name: </strong> {{ element.name }}</span><br>
    <span><strong>Country: </strong> {{ element.country }}</span><br>
    <span><strong>Postal Code: </strong> {{ element.postalCode }}</span><br>
  </mat-card-subtitle>
</div>
<div mat-dialog-content *ngIf="displayOrders()">
  <mat-card-subtitle class="location-content">
    <mat-icon class="location-icon" style="margin-right: 5px" [inline]="true">event</mat-icon>
    <span>{{ element.orderDate }}</span><br>
    <span><strong>Components: </strong> {{ element.components }}</span><br>
    <span><strong>Dealer: </strong> {{ element.dealer }}</span><br>
  </mat-card-subtitle>
</div>
<div class="button-actions">
  <button mat-button (click)="close()">Close</button>
</div>